/* Write your CSS here */
.maincontainer {
  background-image: linear-gradient(to right, #fa7257, #fc63a7, #dd1264);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Roboto';
}
.subcontainer {
  display: flex;

  justify-content: space-between;
}
.eachcontainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 10px;

  align-items: center;

  width: 40%;
}

.button {
  color: #dd1264;
  background-color: #ffffff;
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
}
.para {
  font-size: 20px;
  color: #000000;
  padding: 10px;
  border: 3px;
  background-color: #fddddb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
}
